h1{
    font-size: 1.5rem;
    margin-bottom: 10%;
}
label, a{
    font-size: 1.125rem;
}
@media (min-width: 768px){
    h1{
        font-size: 1.75rem;
    }
    label, a{
        font-size: 1.5rem;
    }
}