.categories-color{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.categories-list-item span{
    display: inline-block;
}

.categories-list-item{
    justify-content: space-between;
}