@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --fundo-escuro: #071952;
    --azul-claro: #279EFF;
    --letra-neutra: #D8D9DA;
    --verde: #35A29F;
    --vermelho: #BB2525;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
}
h1{
    font-size: 1.75rem;
}
h2{
    font-size: 1.5rem;
}
label, input{
    font-size: 1.125rem;
}
li{
    list-style-type: none;
    display: flex;
}

button{
    background-color: transparent;
    border: none;
    text-align: center;
}
.form-group input{
    border: none;
    border-radius: 6px;
    height: 45px;
    width: 100%;
    display: block;
    padding-left: 10px;
}
.form-group{
    margin-bottom: 5%;
}
input:focus{
    outline: 0;
}


.bg-blue{
    background-color: var(--fundo-escuro);
    color: var(--letra-neutra);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content{
    margin-bottom: 80px;
    width: 85%;
    max-width: 85%;
}

/*Default settings for all screens and personalized class to especific components*/


.form-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.form-container{
    width: 320px;
}
.form-btn{
    background-color: var(--azul-claro);
    color: white;
    border: none;
    border-radius: 2px;
    height: 45px;
    font-size: 1.125rem;
    width: 100%;
    font-weight: 700;
}
.form-btn:hover{
    cursor: pointer;
}
.form-group{
    margin-bottom: 5%;
}

/*Forms screens settings*/



.back-btn{
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.back-btn p{
    color: white;
    display: none;
}

/*Back button initial screens*/



@media (min-width: 768px){
    .form-container{
        width: 621px;
    }
    .form-btn{
        height: 40px;
        font-size: 1.5rem;
        width: 70%;
    }
    input{
        height: 40px;
    }

    .back-btn p{
        display: inline-block;
    }

    nav{
        display: none;
    }
}