@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root{
    --fundo-escuro: #071952;
    --azul-claro: #279EFF;
    --letra-neutra: #D8D9DA;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 1.75rem;
}
h2{
    font-size: 1.5rem;
}
label, input{
    font-size: 1.125rem;
}

.bg-blue{
    background-color: var(--fundo-escuro);
    color: var(--letra-neutra);
}
.form-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

body{
    background-color: #eeeeee;
}


.form-container{
    width: 320px;
}
.form-btn{
    background-color: var(--azul-claro);
    color: white;
    border: none;
    border-radius: 2px;
    height: 45px;
    font-size: 1.125rem;
    width: 100%;
    font-weight: 700;
}
.form-btn:hover{
    cursor: pointer;
}
.form-item{
    margin-bottom: 5%;
}


input{
    border: none;
    border-radius: 6px;
    height: 45px;
    width: 100%;
    display: block;
}
input:focus{
    outline: 0;
}


.back-btn{
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.back-btn p{
    color: white;
    display: none;
}

header{
    position: sticky;
    top: 0;
}

@media (min-width: 768px){
    .form-container{
        width: 621px;
    }
    .form-btn{
        height: 40px;
        font-size: 1.5rem;
        width: 70%;
    }
    input{
        height: 40px;
    }

    .back-btn p{
        display: inline-block;
    }

    nav{
        display: none;
    }
}