@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*Default settings for all screens and personalized class to especific components*/
:root{
    --fundo-escuro: #071952;
    --azul-claro: #279EFF;
    --letra-neutra: #D8D9DA;
    --verde: #35A29F;
    --vermelho: #BB2525;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
}
h1{
    font-size: 1.75rem;
    margin-bottom: 35px;
}
h2{
    font-size: 1.5rem;
}
label, input{
    font-size: 1.125rem;
}
li{
    list-style-type: none;
    display: flex;
    color: var(--fundo-escuro);
    font-weight: bold;
}
button{
    background-color: transparent;
    border: none;
    text-align: center;
}
input{
    border: none;
    border-radius: 6px;
    height: 45px;
    width: 100%;
    padding-left: 10px;
}
input:focus{
    outline: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.content{
    width: 85%;
    max-width: 85%;
    margin-top: 7%;
    margin-bottom: 90px;
}
.bg-blue{
    background-color: var(--fundo-escuro);
    color: var(--letra-neutra);
}



/*---------------Forms screens settings-----------------*/
.form-screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    margin-top: 5%;
}
.form{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    max-width: 85%;
}
.form-group{
    margin-bottom: 35px;
}
.form-btn{
    background-color: var(--azul-claro);
    color: white;
    border: none;
    border-radius: 2px;
    height: 45px;
    font-size: 1.125rem;
    width: 100%;
    font-weight: bold;
    margin: 0 auto;
}
.back-btn span{
    color: white;
    display: none;
}


@media (min-width: 768px){
    .form-container{
        width: 621px;
    }
    .form-btn{
        height: 40px;
        font-size: 1.5rem;
        width: 70%;
    }
    input{
        height: 40px;
    }

    .back-btn p{
        display: inline-block;
    }

    nav{
        display: none;
    }
}